<div class="panel panel-default">
    <div class="panel-heading">
        设置用户升级代理条件
    </div>
    <div class="panel-body">
        <form class="form-horizontal" action="<{:U('applyTeam')}>" method="post" style="margin: 30px auto;">
            <div class="row">
                <div class="col-xs-5 col-sm-offset-3">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon">推荐会员价格</div>
                            <input type="text" class="form-control" name="price" value="<{$info.price}>" placeholder="填写会员级别对应的价格" >
                            <div class="input-group-addon">￥</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-5 col-sm-offset-3">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon">推荐会员数量</div>
                            <input type="number" class="form-control" name="num" value="<{$info.num}>" placeholder="添加数字" >
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-5 col-sm-offset-3">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon">升级代理价格</div>
                            <input type="text" class="form-control" name="money" value="<{$info.money}>" placeholder="填写升级代理需要支付的金额" >
                            <div class="input-group-addon">￥</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-5 col-sm-offset-3">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon">代理红包</div>
                            <input type="text" class="form-control" name="leader" value="<{$info.leader}>" placeholder="之前的代理获取红包大小" >
                            <div class="input-group-addon">￥</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-5 col-sm-offset-3">
                    <button type="submit" style="width: 100%" name="submit" class="btn btn-success">修改</button>
                </div>
            </div>
        </form>
    </div>
</div>
