<script src="__PUBLIC__/js/city.json.js" type="text/javascript"></script>
<div class="panel panel-default">
    <div class="panel-heading">
        添加地区代理
    </div>
    <div class="panel-body">
        <form class="form-horizontal" action="<{:U('update')}>" method="post" style="margin: 30px auto;">
            <div class="row">
                <div class="col-xs-5 col-sm-offset-3">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon">用户</div>
                            <input type="text" class="form-control" value="<{$info.name}>" >
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-5 col-sm-offset-3">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon">密码</div>
                            <input type="text" class="form-control" name="password" placeholder="留空不修改密码" >
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-5 col-sm-offset-3">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon">地区</div>
                            <input type="text" class="form-control" name="text" value="<{$CityCode[$info['city']]}>" disabled="disabled" >
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-5 col-sm-offset-3">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon">修改</div>
                            <select name="sheng" class="form-control"></select>
                            <select name="shi" class="form-control"></select>
                            <select name="city" class="form-control"></select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-5 col-sm-offset-3">
                    <input type="hidden" name="aid" value="<{$info.aid}>">
                    <button type="submit" style="width: 100%" name="submit" class="btn btn-success">提交</button>
                </div>
            </div>
        </form>
    </div>
</div>
<script>
    $(window).ready(function(){
        createSheng();
    })

    createSheng = function(){
        var op = '';
        $.each(city,function(i,n){
            op += '<option value="'+ n.value+'">'+ n.text+'</option>';
        })
        $('select[name="sheng"]').html(op);
        createShi();
        $('select[name="sheng"]').change(function(){
            createShi();
        })
    }

    createShi = function(){
        var op = '';
        var sheng = $('select[name="sheng"] option:selected').index();
        $.each(city[sheng].children,function(i,n){
            op += '<option value="'+i+'">'+ n.text+'</option>';
        })
        $('select[name="shi"]').html(op);
        createCity();
        $('select[name="shi"]').change(function(){
            createCity();
        })
    }

    createCity = function(){
        var op = '';
        var sheng = $('select[name="sheng"]').val();
        var shi = $('select[name="shi"] option:selected').index();
        var ci = city[sheng].children;
        $.each(ci[shi].children,function(i,n){
            op += '<option value="'+ n.value+'">'+ n.text+'</option>';
        })
        $('select[name="city"]').html(op);
    }

</script>
