<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">用户详情</div>
        <table class="table">
            <tbody>
            <tr>
                <td>会员ID：<{$info.uid}></td>
                <td>余额：<{$info.money}></td>
            </tr>
            <tr>
                <td>微信昵称：<{$info.nickname}></td>
                <td>微信头像： <img class="headimg" src="<{$info.headimgurl}>" /></td>
            </tr>
            <tr>
                <td>直接上属ID：<eq name="info.up1" value="0">无<else /><a target="_blank" href="<{:U('user/detail')}>?uid=<{$info.up1}>"><{$info.up1}></a></eq></td>
                <td>间接上属ID：<eq name="info.up2" value="0">无<else /><a target="_blank" href="<{:U('user/detail')}>?uid=<{$info.up2}>"><{$info.up2}></a></eq></td>
            </tr>
            <tr>
                <td>Leader ID：<eq name="info.leader" value="0">无<else /><a target="_blank" href="<{:U('user/detail')}>?uid=<{$info.leader}>"><{$info.leader}></a></eq></td>
                <td>自己团队：<eq name="info.agent" value="0">非代理<else /><a target="_blank" href="<{:U('user/index')}>?leader=<{$info.uid}>"><{$teamNum}></a></eq></td>
            </tr>
            <tr>
                <td>他的直接推荐：<a target="_blank" href="<{:U('user/index')}>?up1=<{$info.uid}>">点击查看</a></td>
                <td>他的间接推荐：<a target="_blank" href="<{:U('user/index')}>?up2=<{$info.uid}>">点击查看</a></td>
            </tr>
            </tbody>
        </table>
    </div>

</div>
