<style>
    .headimg {
        width: 25px;
        border-radius: 50%;
    }
</style>
<form class="form-horizontal" action="<{:U('index')}>" method="get">
    <div class="row">
        <div class="col-xs-2">
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon">用户ID</div>
                    <input type="text" class="form-control" name="uid" placeholder="填写用户ID" value="<{$uid}>">
                </div>
            </div>
        </div>
        <div class="col-xs-2">
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon">用户昵称</div>
                    <input type="text" class="form-control" name="name" placeholder="填写用户昵称" value="<{$name}>">
                </div>
            </div>
        </div>
        <div class="col-xs-2">
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon">直接推荐</div>
                    <input type="text" class="form-control" name="up1" placeholder="直接推荐用户ID" value="<{$up1}>">
                </div>
            </div>
        </div>
        <div class="col-xs-2">
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon">间接推荐</div>
                    <input type="text" class="form-control" name="up2" placeholder="间接推荐用户ID" value="<{$up2}>">
                </div>
            </div>
        </div>
        <div class="col-xs-2">
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon">团队Leader</div>
                    <input type="text" class="form-control" name="leader" placeholder="团队LeaderID" value="<{$leader}>">
                </div>
            </div>
        </div>
        <div class="col-xs-2 ">
            <button type="submit" class="btn btn-primary">搜索</button>
        </div>
    </div>
</form>
<script>
    $(window).ready(function () {
        $('select[name="status"]').val('<{$status}>');
    })
</script>
<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">
            用户列表
        </div>
        <table class="table">
            <thead>
            <tr>
                <th>用户ID</th>
                <th>头像</th>
                <th>昵称</th>
                <th>级别</th>
                <th>余额</th>
                <th>更多</th>
            </tr>
            </thead>
            <tbody>
            <volist name="list" id="vo">
                <tr>
                    <td><{$vo.uid}></td>
                    <td><img class="headimg" src="<{$vo.headimgurl}>"/></td>
                    <td><{$vo.nickname}></td>
                    <td><{$vo.vip}></td>
                    <td><{$vo['money']}></td>
                    <td><a href="<{:U('user/detail',array('uid'=>$vo['uid']))}>">更多</a></td>
                </tr>
            </volist>
            </tbody>
        </table>
    </div>
    <div><{$page}></div>
</div>